{% extends '@Club/Default/layoutFront.html.twig' %}

{% block body %}

    <h2 style="color: #ff2c10">Liste des Evenements</h2>
    <h3>
        <table border=5>
            <tr style="color :#ff2c10 ">

                <td>Nom</td>
                <td>Description</td>
                <td>Date debut</td>
                <td>Date fin</td>
                <td>Club</td>

            </tr>
            {% for e in evenement %}
                <tr style="color :#fff3cd">

                    <td>{{ e.nom }} </td>
                    <td>{{ e.description }}</td>
                    <td>{{ e.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ e.dateFin|date('d/m/Y') }}</td>
                    <td>{{ e.club.nom }}</td>
                    <td><img src="{{ asset('Upload/') }}{{ e.nomfile }}" width="100" class="img-circle"/></td>
                    {% if e.nbp > 0 %}
                         {% if app.user in e.participants %}
                        <td ><a style="color: #722523" href="{{ path('participer',{'id':e.id , 'etat':'refuser'}) }}">Annuler</a></td>
                         {% else %}
                        <td ><a style="color: #0e7609 " href="{{ path('participer',{'id':e.id , 'etat':'accepter'}) }}">Participe</a></td>

                         {% endif %}
                    {% else %}
                        <td style="color: #1d0202"> Complet </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </h3>
    <div class="text-center">{{ knp_pagination_render(evenement) }}</div>

{% endblock %}